html{
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    background-color: #00539F;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
    color: #00539F;
    text-shadow: 4px 4px 3px grey;
}


img{
    display: block;
    margin: 0 auto;
}

p, li {
    line-height: 2;
    letter-spacing: 1px;
    font-size: 14px;
    width: 500px;
   
}

div{
    
}

body{
    width: 600px;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    margin-left: 25%;
}